In [1]:
import sys
sys.path.append('/Users/stefa/ComputerScience/DATA301/project-group-group11/analysis/code')
from functions_analysis2 import process_data

In [2]:
df = process_data('../data/raw/AAPL.csv', '../data/raw/MSFT.csv')

In [3]:
df

,Date,D30_move_AAPL,D30_pct_chg_AAPL,D30_move_MSFT,D30_pct_chg_MSFT
0,2010-02-16,7.275952,-0.003537,29.409000,-0.002712
1,2010-02-17,7.262310,-0.003895,29.330333,-0.003001
2,2010-02-18,7.248679,-0.003646,29.264000,-0.002677
3,2010-02-19,7.237607,-0.003147,29.197333,-0.002582
4,2010-02-22,7.225512,-0.003279,29.140000,-0.002513
...,...,...,...,...,...
3237,2022-12-22,144.147332,-0.000774,246.168666,0.001915
3238,2022-12-23,143.646999,-0.001863,246.026999,0.001216
3239,2022-12-27,142.991333,-0.003092,245.688666,0.000407
3240,2022-12-28,142.249999,-0.003871,245.454666,0.000136
3241,2022-12-29,141.569000,-0.002972,245.422666,0.001395